<div class="container">
  <h1>Angular Components</h1>
  <nav>
    <ol>
      <li><a routerLink="/display-hello-world">Display Hello World</a></li>
      <li><a routerLink="/show-hello-button">Show Hello Button</a></li>
      <li><a routerLink="/display-name">Display Name</a></li>
      <li><a routerLink="/counter">Counter</a></li>
      <li><a routerLink="/simple-form">Simple Form</a></li>
      <li><a routerLink="/user-age">User Age</a></li>
      <li><a routerLink="/user-greeting">User Greeting</a></li>
      <li><a routerLink="/calculator">Calculator</a></li>
      <li><a routerLink="/text-length">Text Length</a></li>
      <li><a routerLink="/currency-converter">Currency Converter</a></li>
    </ol>
    <ol>
      <li><a routerLink="/even-odd-checker">Even/Odd Checker</a></li>
      <li><a routerLink="/word-reverser">Word Reverser</a></li>
      <li><a routerLink="/show-date">Show Date</a></li>
      <li><a routerLink="/show-username">Show Username</a></li>
      <li><a routerLink="/multiplication-table">Multiplication Table</a></li>
      <li><a routerLink="/simple-login">Simple Login</a></li>
      <li><a routerLink="/fahrenheit-to-celsius">Fahrenheit to Celsius</a></li>
      <li><a routerLink="/bookmark-list">Bookmark List</a></li>
      <li><a routerLink="/character-counter">Character Counter</a></li>
      <li><a routerLink="/palindrome-checker">Palindrome Checker</a></li>
    </ol>
    <ol>
      <li><a routerLink="/temperature-converter">Temperature Converter</a></li>
      <li><a routerLink="/shopping-list">Shopping List</a></li>
      <li><a routerLink="/factorial-calculator">Factorial Calculator</a></li>
      <li><a routerLink="/todo-manager">Todo Manager</a></li>
      <li><a routerLink="/guess-number-game">Guess Number Game</a></li>
      <li><a routerLink="/word-counter">Word Counter</a></li>
      <li><a routerLink="/random-number-generator">Random Number Generator</a></li>
      <li><a routerLink="/multiplication-checker">Multiplication Checker</a></li>
      <li><a routerLink="/uppercase-converter">Uppercase Converter</a></li>
      <li><a routerLink="/word-shuffler">Word Shuffler</a></li>
    </ol>
    <ol>
      <li><a routerLink="/bmi-solver">BMI Solver</a></li>
      <li><a routerLink="/username-validator">Username Validator</a></li>
      <li><a routerLink="/interest-calculator">Interest Calculator</a></li>
      <li><a routerLink="/compound-interest-calculator">Compound Interest Calculator</a></li>
      <li><a routerLink="/fibonacci-generator">Fibonacci Generator</a></li>
      <li><a routerLink="/odd-sum-calculator">Odd Sum Calculator</a></li>
      <li><a routerLink="/currency-formatter">Currency Formatter</a></li>
      <li><a routerLink="/random-quote-display">Random Quote Display</a></li>
      <li><a routerLink="/uppercase-greeting">Uppercase Greeting</a></li>
      <li><a routerLink="/divisible-checker">Divisibility Checker</a></li>
    </ol>
    <ol>
      <li><a routerLink="/click-counter">Click Counter</a></li>
      <li><a routerLink="/pop-button">Pop Button</a></li>
      <li><a routerLink="/roaster-hover">Roaster Hover</a></li>
      <li><a routerLink="/screen-dimensions">Screen Dimensions</a></li>
      <li><a routerLink="/ip-details-displayer">IP Details Displayer</a></li>
      <li><a routerLink="/text-masker">Text Masker</a></li>
      <li><a routerLink="/text-reverser">Text Reverser</a></li>
      <li><a routerLink="/text-rumbler">Text Rumbler</a></li>
      <li><a routerLink="/text-to-number-converter">Text to Number Converter</a></li>
      <li><a routerLink="/space-remover">Space Remover</a></li>
    </ol>
  </nav>
  <hr>
  <h1>Angular Components OUTPUT</h1>
  <router-outlet></router-outlet>
</div>
